body,html {
    background-color: #F2F2F0;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-container > header, nav, img, switch {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

 /*LOGO*/
header img {
    height: 180px;
    margin-top: -60px;
    margin-left: -15px;
    align-items: center;
    position: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Myanmar Text;
    font-size: 27px;
    position: fixed;
    align-items: center;

    margin-left: 120px;
    margin-top: 80px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #000000;
    opacity: 70%;
    text-align: center;
    padding: 0px 100px;
    text-decoration: none;
    margin-left: 0px;
  }

  /*language switch button*/

  .switch {
    position: fixed;
    display: inline-block;
    margin-top: 10px;
    margin-left: 1350px;
  }
  
  .switch > span {
    position: absolute;
    top: 14px;
    pointer-events: none;
    font-family: Myanmar Text;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
  }
  
  input.check-toggle-round-flat:checked ~ .off {
    color: black;
    opacity: 70%;
  }
  
  input.check-toggle-round-flat:checked ~ .on {
    color: #fff;
  }
  
  .switch > span.on {
    left: 0;
    padding-left: 2px;
    color: black;
    opacity: 70%;
  }
  
  .switch > span.off {
    right: 0;
    padding-right: 4px;
    color: #fff;
  }
  
  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  input.check-toggle-round-flat + label {
    padding: 5px;
    width: 100px;
    height: 45px;
    background-color: white;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  
  input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #A6CDF7;
    
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 58px;
    background-color: white;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
  }
  
  input.check-toggle-round-flat:checked + label:after {
    margin-left: 44px;
  }

  #bigHeading {
    font-family: Microsoft Himalaya;
    font-size: 70px;
    font-weight: 100;

    text-align: center;
    white-space: nowrap;
    
    margin-left: 640px;
    margin-top: 120px;
  }

  .container1 {
    background-image: url('.//images1/image1.png');
    background-size: cover;
    background-clip: content-box;
    content: '';
    position: absolute;

    height: 700px;
    width:  900px;

    
  }

  #firstptext {
    font-family: Microsoft Yi Baiti;
    font-size: 40px;

    margin-top: 80px;
    margin-left: 80px;

    line-height: 55px;
  }

  #photo1 {
    float: right;
    position: absolute;
    flex-direction: row;
  
    width: 350px;
    height: 250px;
  
    margin-top: -340px;
    margin-left: 930px;
  }
  
  #photo2 {
    flex-direction: column;
    float: right;

    width: 450px;
    height: 300px;
  
    margin-top: -600px;
    margin-right: -580px;

  }
  
  #componentphoto2_1 {
    float: right;
    flex-direction: row;
  
    width: 450px;
    height: 300px;
  
    margin-top: -500px;
    margin-right: -520px;
  }

  .flex-container {
    background-image: url('.//images1/Backgtound\ clouds.png');
    background-size: cover;
    background-clip: content-box;
    content: '';

    height: 800px;
    width:  1519px;

    position: absolute;
    margin-top: 700px;
    margin-left: -8px;
  }

  #secondH {
    font-family: Microsoft Himalaya;
    font-size: 60px;
    font-weight: 100;

    margin-top: 250px;
    margin-left: 100px;
  }

  #signup {
    border-style: initial;
    border: solid 4px;
    border-color: white;
    
    background-color: #435564;
    color: white;
    
    font-family: Microsoft Himalaya;
    font-size: 60px;

    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 60px;
    padding-right: 60px;

    margin-left: 100px;
    margin-top: 50px;
  }

  #section2_1 {
    float: right;
    position: absolute;
    right: 0;
    flex-direction: row;
  
    width: 200px;
    height: 300px;
  
    margin-top: -200px;
    margin-right: 650px;
  }
  
  #section2_2 {
    flex-direction: column;
    float: right;

    width: 200px;
    height: 350px;
  
    margin-top: -300px;
    margin-right: 480px;
  }
  
  #componentsection2_1 {
    float: right;
    position: absolute;
    right: 0;
    flex-direction: row;
  
    width: 450px;
    height: 700px;
  
    margin-top: -550px;
    margin-right: 75px;
  }

  #box {
    font-family: Microsoft Himalaya;
    font-size: 60px;
    font-weight: 100;

    position: absolute;
    right: 0;

    margin-top: -300px;
    margin-right: 335px;

  }

  #smalltext {
    font-family: Microsoft Yi Baiti;
    font-size: 50px;
    font-weight: 100;

    position: absolute;
    right: 0;

    margin-top: -200px;
    margin-right: 160px;
  }

#LearnMore {
  position: absolute;
  right: 0;

  border-style: initial;
  border: solid 4px;
  border-color: white;
  
  background-color: #DDE2E8;
  
  font-family: Microsoft Himalaya;
  font-size: 40px;

  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;

  margin-right: 235px;
  margin-top: 0px;
}


footer {
  background-color: #DDE2E8;
  border: 2px solid #00000081;

  width: 1520px;
  margin-left: -8px;

  position: absolute;
  bottom: 0;
  overflow: auto;

  margin-bottom: -1440px;
  }

.grid-container2 {
  display: grid;
  grid: 200px;
}

#Hleftside {
  grid-column: 2 / 3; 
  grid-row: 1 / 2; 

  font-family: Microsoft Himalaya;
  font-size: 55px;
  font-weight: 100;

  margin-left: -50px;
}

#icon1 {
  grid-column: 1 / 2; 
  grid-row: 2 / 2; 

  margin-left: 100px;
  padding-bottom: 20px;
}

#icon2 {
  grid-column: 1 / 2; 
  grid-row: 3 / 3; 

  margin-left: 100px;
  padding-bottom: 20px;
}

#icon3 {
  grid-column: 1 / 2; 
  grid-row: 4 / 4; 
  
  margin-left: 100px;
  padding-bottom: 20px;
}

#icon4 {
  grid-column: 1 / 2; 
  grid-row: 5 / 5; 

  margin-left: 100px;
  padding-bottom: 20px;
}

#text1 {
  grid-column: 2 / 3; 
  grid-row: 2 / 2; 

  font-family: Microsoft Yi Baiti;
  font-size: 30px;

  margin-left: -50px;
  margin-top: 10px;
}

#text2 {
  grid-column: 2 / 3; 
  grid-row: 3 / 3; 

  font-family: Microsoft Yi Baiti;
  font-size: 30px;

  margin-left: -50px;
  margin-top: 10px;
}

#text3 {
  grid-column: 2 / 3; 
  grid-row: 4 / 4; 

  font-family: Microsoft Yi Baiti;
  font-size: 30px;

  margin-left: -50px;
  margin-top: 10px;
}

#text4 {
  grid-column: 2 / 3; 
  grid-row: 5 / 5; 

  font-family: Microsoft Yi Baiti;
  font-size: 30px;

  margin-left: -50px;
  margin-top: 10px;
}

#logofooter {
  grid-column: 3 / 4; 
  grid-row: 1 / 4; 

  margin-left: 10px;
  margin-top: -50px;
}

#contactus {
  grid-column: 3 / 4; 
  grid-row: 4 / 4; 

  border-style: initial;
  color: white;
  background-color: black;

  width: 250px;

  border-color: #000000;
  border: solid 4px;
  
  font-family: Microsoft Himalaya;
  font-size: 40px;

  position: relative;

}

#Hrightside {
  grid-column:  4 / 5; 
  grid-row: 1/ 4;

  font-family: Microsoft Himalaya;
  font-size: 55px;
  font-weight: 100;

  position: absolute;
  right: 0;
  margin-right: 130px;
}

#icon5 {
  grid-column: 5 / 5; 
  grid-row: 3/ 4;

  margin-right: -100px;

  height: 70px;
}

#icon6 {
  grid-column: 6 / 6; 
  grid-row: 3/ 4;

  margin-right: -100px;

  height: 70px;
}


#icon7 {
  grid-column: 7 / 7; 
  grid-row: 3/ 4;

  margin-right: -100px;

  height: 70px;
}